<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="f2">
                    <i class="iconfont"></i>
                </dt>
                <dd class="f2">
                    <p class="text">Customer support</p>
                    <p class="tel">123-456-7890</p>
                    <a href="https://google.com">Q&A</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Helping center</dt>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Account Management</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Shopping Guide</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Order Operations</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Helping center</dt>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Account Management</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Shopping Guide</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Order Operations</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Helping center</dt>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Account Management</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Shopping Guide</a></dd>
                <dd><a rel="nofollow" href="https://google.com" target="_blank">Order Operations</a></dd>
            </dl>
        </div>
    </div>
</div>
</html>